@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-dark: #222;
    --main-dark-hover: #6b6b6b;
    --red: #eb1c1c;
    --light-red: #ffecec;
    --light-gray: #f1f1f1;
    --dark-gray: #808080;
    --hover-transition: 0.3s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, form {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    max-width: 800px;
    margin: auto;
    padding: 36px 12px;
}
a {
    color: var(--main-dark)
}
a:hover {
    color: var(--main-dark);
}
p, li{
    line-height: 1.6em;
}
h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.2em;
}
section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main {
    display: flex;
    flex-direction: column;
    gap: 54px;
}
ul {
    list-style-position: outside;
    padding-left: 36px;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 54px
}
.rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.avatar {
    width: 80px;
    height: 80px;
    font-size: 44px;
    background-color: var(--light-gray);
}
.badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
.badge div:nth-child(2) p{
    color: var(--dark-gray);
}
.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.contacts a {
    border-radius: 200px;
}
.contacts a div {
    width: 40px;
    height: 40px;
    background-color: var(--main-dark);
    transition: var(--hover-transition);
}
.contacts a div:hover {
    transition: var(--hover-transition);
}
.contacts a div img {
    height: 16px;
}
.contacts button {
    background-color: var(--light-red);
    border: solid 1px var(--red);
    border-radius: 20px;
    color: var(--red); 
    padding: 0px 20px;
    height: 40px;
    font-weight: 400;
    font-size: 1.0em;
}
.contacts button:hover {
    cursor: pointer;
}

@media (max-width: 599px) {
    body {
        padding: 24px 12px;
    }
    header {
        flex-direction: column;
        gap: 12px;
    }
}